name: Build Marlin Firmware

on:
  push:
    branches:
      - master
    paths:
      - 'Firmware/Configuration/**.h'

jobs:
  build_and_push:
    name: Compile and Push Firmware
    runs-on: ubuntu-latest
    env:
      BOARD: STM32F103RE_creality
      TAG: 2.1.2

    steps:
      - name: Check out repo
        uses: actions/checkout@v3

      - name: Compile firmware
        run: |
          docker run \
            -u root:root \
            -e BOARD=${{env.BOARD}} \
            -e USE_TAG=${{env.TAG}} \
            -v $(pwd)/Firmware/Builds:/home/platformio/build \
            -v $(pwd)/Firmware/Configuration:/home/platformio/CustomConfiguration \
            frealmyr/marlin-build:latest

      - name: Release my firmware
        uses: ncipollo/release-action@v1
        with:
          tag: ${{env.TAG}}
          body: "Testing a build"
          artifacts: "Firmware/Builds/*"
          prerelease: false
          draft: true
          token: ${{ github.token }}
          owner: Sparticuz
          repo: MyEnder3v2
